<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>day_10</display-name>
  <context-param>
    <param-name>JDBC_DIRVER_CLASS_NAME</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>JDBC_URL</param-name>
    <param-value>jdbc:mysql://localhost:3306/test?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>JDBC_USER</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>JDBC_PASSWORD</param-name>
    <param-value>SystemManager304</param-value>
  </context-param>
  <servlet>
    <servlet-name>JDBCDriverLoader</servlet-name>
    <servlet-class>tje.jdbc.JDBCDriverLoader</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>tje.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>tje.listener.Listener_01</listener-class>
  </listener>
  <listener>
    <listener-class>tje.listener.Listener_02</listener-class>
  </listener>
  <context-param>
    <param-name>save_dir</param-name>
    <param-value>save</param-value>
  </context-param>
  <context-param>
    <param-name>save_file</param-name>
    <param-value>count.dat</param-value>
  </context-param>
</web-app>